<style>
    body{
       margin-top: 30%;
       padding: 0;
       background: url(static/img/bg2.jpg);
       background-size: cover;
       background-position: center;
       font-family: sans-serif;
           }
   .login{
       width: 450px;
       height: 350px;
       background: whitesmoke;
       color: black;
       top: 50%;
       left: 50%;
       position: absolute;
       transform: translate(-50%,-50%);
       box-sizing: border-box;
       border-radius: 10%;
       padding: 10px 20px;
   }
   .login center{
       font-size: xx-large;
       color: blue;
       font-weight: bold;
   }
   .login p{
       margin: 0;
       padding: 0;
       font-weight: bold;
   }
   .login input{
       width: 100%;
       margin-bottom: 20px;
   }
   .login input[type="submit"]{
       border: none;
       outline: none;
       height: 40px;
       background: #259bfb;
       color: #fff;
       font-size: 18px;
       border-radius: 20px;
   }
   .login input[type="submit"]:hover{
       cursor: pointer;
       background: #ffc107;
       color: #000;
   }
</style><div class="login">
<form action="" method="POST">
    <center>Check For Spam</center>
    {% csrf_token %}
    {{uploadform.as_p}}

    <h1> {{user.spamtxt}} </h1>
    <input type="submit" value="UPLOAD & CHECK">
</form>
</div>